body {
    font-family: Courier, sans-serif;
}

.page {
    width: 1280px;
    margin: auto;
}

.logo {
    text-decoration: none;
    font-size: 80px;
    color: black;
    display: inline-block;
    margin-bottom: 60px;
}

.logo-style {
    color: #4bcaff;
}

.navigation-top {
    background-color: #35444f;
    margin-bottom: 60px;
    text-align: center;

}

.top-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    display: inline-block;
    padding: 22.5px 25px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

.menu-left {
    display: inline-block;
    width: 344px;
    border: 1.5px solid #495863;
    vertical-align: top;
    margin-right: 30px;
}

.menu-link {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    color: #495863;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-ramda {
    padding-right: 239px;
}

.menu-why {
    padding-right: 178px;
}

.menu-different {
    padding-right: 58px;
}

.menu-intro {
    padding-right: 119px;
}

.menu-philosophy {
    padding-right: 163px;
}

.content {
    display: inline-block;
    width: 890px;
    margin-bottom: 50px;
}

.content-image {
    display: flex;
    border: 1.5px solid #495863;
    width: 900px;
    height: 530px;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.content-paragraphs {
    display: inline-block;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.paragraph1 {
    display: inline-block;
    margin-bottom: 20px;
}

.navigation-footer {
    background-color: #b4b7ba;
    font-size: 23px;
    height: 50px;
    font-weight: bold;
    color: #0c1927;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    color: black;
    margin-left: 20px;
}

.footer-ramda {
    margin-left: 40px;
}

.copyright {
    display: inline-block;
    margin-left: 130px;
    font-size: 19px;
}

.footer-link:hover {
    color: blue;
    text-decoration: underline;
}

.top-link:hover {
    background-color: #222f3a;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.menu-link:hover {
    background-color: #dbdbdb;
    font-weight: bold;
    padding-left: 50px;
}

.menu-ramda:hover {
    padding-right: 219px;
}

.menu-why:hover {
    padding-right: 158.5px;
}

.menu-different:hover {
    padding-right: 38.5px;
}

.menu-intro:hover {
    padding-right: 99px;
}

.menu-philosophy:hover {
    padding-right: 143.5px;
}